<table class="table table-sm mx-md-5 house-table">
  <thead>
    <th scope="col">Thumbnail</th>
    <th scope="col">Address</th>
    <th scope="col">Listing Price</th>
    <th class="d-none d-sm-block" scope="col">Square Footage</th>
    <th class="d-none d-sm-block" scope="col">Bed Rooms</th>
  </thead>
  <tbody>
    <% @houses.each do |house| %>
      <tr class="house-<%= house.id %>">
        <td>
          <%= link_to house_path(house) do %>
            <% if house.images.first.present? %>
              <%= image_tag house.images.first.url, class: "img-thumbnail" %></td>
            <% else %>
              <div class="img-thumbnail text-center">
                <i class="fa fa-home fa-lg"></i>
              </div>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= house.lot.address %> <br />
          <%= house.lot.city%>, <%= house.lot.state %> <%= house.lot.zip %>
        </td>
        <td><%= number_to_currency house.lot.list_price %></td>
        <td class="d-none d-sm-block"><%= house.square_footage %></td>
        <td class="d-none d-sm-block"><%= house.rooms.bedrooms.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @houses, window: 1 %>