<div class="homepage-house-container">
  <%= image_tag 'homepage-house', id: 'homepage-house', class: 'w-100' %>
</div>

<div class="container">
  <div class="row mt-4">
    <div class="col-xs-12 w-100">
      <div class="d-flex justify-content-around bd-highlight">
          <div class="p-2 bd-highlight"><%= link_to 'Houses for Sale', '#', class: 'btn btn-outline-primary' %></div>
          <div class="p-2 bd-highlight"><%= link_to 'Search for Houses', '#', class: 'btn btn-outline-primary' %></div>
          <div class="p-2 bd-highlight"><%= link_to 'Contact Us', '#', class: 'btn btn-outline-primary' %></div>
        </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-xs-12 text-center w-100">
      <h1>Brokers of Real Estate</h1>
      <h2>Owned and Managed by Steven Leffert</h2>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-6 col-xs-12 display-block w-100">
        <%= image_tag 'steve-leffert-image', id: "owner-image", class: 'd-block mx-auto' %>
    </div>
    <div id="owner-discription" class="col-lg-6 col-xs-12 display-block mt-xs-4 w-100">
        <p>Lorem ipsum dolor sit amet, ut qui malorum mandamus. Mea an sale theophrastus. Ne est mundi accusamus scribentur. Nec solum maiorum epicuri ei, qui affert instructior ex, ex mea debet theophrastus.Timeam mandamus corrumpit eu his, fabellas inimicus id eam, ei alia accusata qui. Vitae postea torquatos in eos, idque dicat omittam no nec, homero partem essent ea vix. Mei ea saepe eripuit consequuntur. Has ad nominati forensibus. Detracto suscipit eu qui.</p>

        <p>Ea has meis electram. Antiopam patrioque vix in, qui possim ceteros suscipiantur id. Ei iriure eligendi mei, et hinc omnis posse vel. Iusto mentitum democritum ne usu, novum albucius omnesque ne per, per at animal vivendo aliquando. Sea te tantas nominavi.  Ad omnis efficiantur ius, vel at mucius scripta deseruisse. Sed ne alienum perpetua. Et eum aperiam delenit, duo euripidis instructior et, ne eos postea oportere periculis. Et ius modus primis definiebas, eros nominavi theophrastus pro et, an accusam accusamus qui. Has quaestio urbanitas ut, pertinacia philosophia no eos. Ne alii laboramus sadipscing usu, mea esse tollit ut, est ne regione mediocritatem.</p>
    </div>
  </div>
</div>