<!DOCTYPE html>
<html>
  <head>
    <title>BrokersOfRealEstate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= "#{controller_name}-#{action_name}" %>">
    <%= render 'shared/nav_bar' %>
    <div class="container-fluid px-0">
      <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: "text-center mt-2 #{alert_class(key)}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
