<!DOCTYPE html>
<html>
  <head>
    <title>BrokersOfRealEstate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= "#{controller_name}-#{action_name}" %>">
    <div class="container-fluid d-flex px-0">
      <%= render 'shared/nav_bar' %>
      <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: "text-center mt-2 #{alert_class(key)}" %>
      <% end %>
      <div id="content">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
